
.cls{
    background-color: black;
    width:100%;
    height: 59px;
    margin: px;
    border: 5px solid rgb(237, 231, 127);
    border-radius: 8px;
}
#p1{
    position: sticky;
    top: 100px;
}
#h1{
    padding-left:40px ;
    margin: 10px;
    width: 10px;
    height: 20px;
}
#h2{
    padding-right: 50px;
    width: 20px;
    height: 20px;
    size: 10px;
}
#jh{
    padding-left:50px ;
    margin: 30px;
    width: 200px;
    height: 20px;
}
h3{
   text-align: center;
   font-size: 30px;
   margin: 0;
   padding-top: 10px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.bgimage{
    width: 100%;
    height: 100vh;
    border: 5px solid black;
    background-image: url('https://i.postimg.cc/QdfRQb1p/back1.webp');
    background-size: cover;
}
.overlay{
    width: 100%;
    height: 100%;
    font-size: 26px;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}
.image{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
.content{
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    transition: .4s;
    background: #f2f2f2;
}
.content:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px);
    /* transform: scale(1.1); */
}
p{
    text-align: center;
    color:#b2bec3;
    padding-top: 0 8px;
}
h6{
    font-size: 26px;
    text-align: center;
    color: #222f3e;
    margin: 0;
}
button{
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.buy-1{
    background-color: black;
}
.buy-2{
    background-color: black;
}
.buy-3{
    background-color: black;
}
.buy-4{
    background-color: black;
}
@media(max-width:1000px){
    .content{
        width: 45%;
    }

}
@media(max-width:750px){
    .content{
        width: 100%;
    }

}
.icon{
    margin-left: 47%;
    float: left;
    
}


